// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  //background-image: url('../img/header.jpg');
  //background-position: center center;
  //@include background-cover;

  h3 {
    line-height: 3rem;
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }

}
